<!--Nav Bar-->

<nav class="navbar fixed-top navbar-light bg-light">
  <a class="navbar-brand" href="/">
    <h4>Mump</h4>
  </a>
</nav>

<div class="formContainer">
  <form action="/login" method="POST" id="form" class="form">

    <h4>Login</h4>
    <br>

    <label for="email">Email</label>
    <input type="email" name="email">

    <label for="password">Password</label>
    <input type="password" name="password">

    {{#if errorMessage }}
    <div class="error-message">{{ errorMessage }}</div>
    {{/if}}

    <button>Sign in</button>

    <p class="account-message">
      Don't have an account? <a href="/signup">Sign up</a>
    </p>

  </form>
</div>