<!--Nav Bar-->

<nav class="navbar fixed-top navbar-light bg-light">
  <a class="navbar-brand" href="/">
    <h4>Mump</h4>
  </a>

  <button type="button" class="btn btn-primary" onclick="location.href='/login'">
    Login
  </button>
</nav>

<div class="formContainer">


  <form id="form" action="/signup" method="POST" class="form">

    <h4>Signup</h4>
    <br>

    <label for="email">Email</label><br>
    <input type="email" name="email" placeholder="Your Email">

    <label for="firstName">First Name</label><br>
    <input type="text" name="firstName" placeholder="John">

    <label for="lastName">Last Name</label><br>
    <input type="text" name="lastName" placeholder="Snow">

    <label for="password">Password</label><br>
    <input type="password" name="password" placeholder="********">

    {{#if errorMessage}}
    <div class="error-message"> {{errorMessage}}</div> <br>
    {{/if}}

    <button type="submit">Create account</button>
  </form>
</div>