<!--Nav Bar-->

<nav class="navbar  navbar-light">
  <a class="navbar-brand" href="/">
    <h4>Mump</h4>
  </a>
  {{#if userAuthenticated }}
  Welcome {{userAuthenticated.firstName }} {{userAuthenticated.lastName}}!

  <button type="button" class="btn btn-outline" onclick="location.href='/logout'">
    Logout
  </button>
  {{else}}
  <button type="button" class="btn btn-outline" onclick="location.href='/login'">
    Login
  </button>

  {{/if}}
</nav>


<div class="banner">
  <div class="banner-image">
    <div class="headline">
      <h2>START MUMBLING LESS</h2> <br>
      <h2>AND DOING MORE <button type="button" class="btn btn-outline" onclick="location.href='/signup'">
          Sign up
        </button></h2>

    </div>



  </div>

</div>

<div class="about">

</div>




























<!-- Modal -->
{{!-- <div class="modal fade" id="loginModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Login</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form action="/login" method="POST" id="form">

          <label for="username">Username</label>
          <input type="text" name="username">
          <br>

          <label for="password">Password</label>
          <input type="password" name="password"> --}}


{{!-- {{#if errorMessage }}
          <div class="error-message">{{ errorMessage }}</div>
          {{!-- {{!-- {{/if}} --}}

{{!-- <button class="btn btn-primary" id="loginbutton">Login</button>

        </form>
      </div>
      <div class="modal-footer">
        <p class="account-message">
          Don't have an account? <a href="/signup">Sign up</a>
        </p>

      </div>
    </div>
  </div>
</div> --}}