<!--Nav Bar-->

<nav class="navbar fixed-top navbar-light bg-light">
  <a class="navbar-brand" href="/">
    <h4>Mump</h4>
    Less Mumbling, More Doing!
  </a>
  <!-- Button trigger modal -->
  <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#loginModal">
    Login
  </button>
</nav>

<form id="form" action="/signup" method="POST">
  <label for="username">Username</label><br>
  <input type="text" name="username" placeholder="Your username">

  <label for="password">Password</label><br>
  <input type="password" name="password" placeholder="********">
  {{#if errorMessage}}
  <div class="error-message">{{ errorMessage }}</div>
  {{/if}}
  <button type="submit">Create account</button>
</form>
