<h1>I am the user ticket area</h1>


<h4><strong>Title: </strong> {{ticket.[0].title}}</h4>

<p><strong>Image: </strong>{{ticket.[0].Image}}</p>

<p><strong>Description: </strong>{{ticket.[0].description}}</p>

<small><strong>Open date: </strong>{{ticket.[0].date}}</small>