<h1>Ticket</h1>

<h4><strong>Title: </strong> {{ticket.[0].title}}</h4>

<p><strong>Description: </strong>{{ticket.[0].description}}</p>

<p><strong>Open date: </strong>{{ticket.[0].date}}</p>

<p><strong>Image: </strong></p> <img src="{{ticket.[0].imagePath}}" alt="Ticket Image" width="50%">