body {

  padding: 0px;
  padding-left: 0px;
  font: 14px "Roboto", Helvetica, Arial, sans-serif;
  background-color:#f8f9fa
}
.container-fluid{
  padding: 0px;
}

a {
  color: #00B7FF;
}

#form {
  margin: 30px auto;
  width: 380px;
}

#form label {
  color: #666;
  display: inline-block;
  margin-bottom: 10px;
  text-align: center;
  width: 100%;
}

#form input,
#form button {
  box-sizing: border-box;
  font-size: 14px;
  outline: 0;
  padding: 4px;
  width: 100%;
  margin-bottom: 20px;
}

#form button {
  background: #43a3e6;
  border: 1px solid #43a3e6;
  border-radius: 4px;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-size: 14px;
  padding: 8px 16px;
  text-decoration: none;
  text-transform: uppercase;
  transition: .3s ease background;
  width: 100%;
}

#form button:hover {
  background: #fff;
  color: #43a3e6;
  transition: .3s ease background;
}

.error-message {
  display: flex;
  justify-content: center;
  border-radius: 10px;
  background: rgb(238, 105, 142);
  box-sizing: border-box;
  color: #fff;
  margin: 20px auto;
  padding: 15px;
  width: 100%;
}

.banner{
  margin-top: 70px;
  width: 100%;
  height: 500px;
  display: flex;
}
.signup-headline{
  width: 40%;
  display: flex;
  justify-items: center;
  align-items: center;
  padding-left: 30px;
}

.signup-headline h2{
  line-height: 45px;
}

.banner-image{
  background-image: url("/images/banner.png");
  background-size: 70%;
  background-repeat: no-repeat;
  background-position: center;
  width: 60%;
}

.btn-primary{
  background: #43a3e6;
  border: 1px solid #43a3e6;
}

.dashboard{
  margin-top: 50px;
  height: 700px;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  align-items: center;
}

.form {
  padding: 50px;
  background-color: white;
  border-radius: 30px;
  box-shadow: 12px 12px 23px -12px rgba(0,0,0,0.75);
}

textarea{
  resize: none;
}

.formContainer{
  height: 630px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container-dashboard{
  display: flex;
  justify-content: space-around;
}

.left-navigator{
  display: flex;
  flex-direction: column;
  width: 17%;
  height: 100vh;
  border-right: solid 1px #E5E5E5;
  background-color: white;
}

.user{
  height: 200px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
  border-bottom: solid 1px #E5E5E5;
}

.user img{
  border: solid 1px black;
  border-radius: 100px;
}

.nav-buttons{
  display: flex;
  flex-direction: column;
  height: 500px;
  justify-content: flex-start;
  
}

.nav-buttons button{
  margin: 10px;
  color: black;
}

.nav-buttons button{
  margin: 10px;
  color: black;
  border: solid 1px white;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.nav-buttons button img{
  width: 15px;
  height: 15px;
  margin-right: 30px;
}


.btn-outline-secondary:hover{
  background-color: #D2DDD1;
  border: solid 1px #D2DDD1;
  color: #1D4D4F;
}


.main-dashboard{
  width: 63%;
  height: 100vh;
}

.ticket-overview{
  width: 20%;
  height: 100vh;
  border:solid 1px blue;
}

.logout-button{
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logout-button button{
  width: 126px;
  height: 40px;
  border-radius: 30px;
  border: #1D4D4F;
  background-color: #1D4D4F;
  box-shadow: 0px 13px 28px -13px rgba(0,0,0,0.75);
}

.btn-outline-secondary{
  border: solid 1.5px #1D4D4F;
}

.btn-outline-secondary:not(:disabled):not(.disabled).active{
  color: #1D4D4F;
  background-color: #D2DDD1;
  border: #D2DDD1;
}