body {
  padding: 0px;
  padding-left: 0px;
  font-family: "Muli", sans-serif;
  background-color: #f6f6f8; }

.container-fluid {
  padding: 0px; }

a {
  color: #1d4d4f; }

a:hover {
  color: #1d4d4f; }

#form {
  margin: 30px auto;
  width: 380px; }

#form label {
  color: #666;
  display: inline-block;
  margin-bottom: 10px;
  text-align: center;
  width: 100%; }

#form input,
#form button {
  box-sizing: border-box;
  font-size: 14px;
  outline: 0;
  padding: 4px;
  width: 100%;
  margin-bottom: 20px; }

#form button {
  background: #1d4d4f;
  border: 1px solid #1d4d4f;
  border-radius: 4px;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-size: 14px;
  padding: 8px 16px;
  text-decoration: none;
  text-transform: uppercase;
  transition: 0.3s ease background;
  width: 100%; }

#form button:hover {
  background: #fff;
  color: #1d4d4f;
  transition: 0.3s ease background; }

.error-message {
  display: flex;
  justify-content: center;
  border-radius: 10px;
  background: #ee698e;
  box-sizing: border-box;
  color: #fff;
  margin: 20px auto;
  padding: 15px;
  width: 100%; }

.navbar {
  background-color: #f6f6f8; }

.navbar h4 {
  color: #1d4d4f; }

.btn-outline {
  border: solid 2px #1d4d4f;
  width: 150px;
  border-radius: 30px;
  color: #1d4d4f; }

.btn-outline:hover {
  border: solid 2px #1d4d4f;
  width: 150px;
  border-radius: 30px;
  color: white;
  background-color: #1d4d4f; }

.banner {
  width: 100vw;
  height: 95vh;
  display: flex;
  flex-direction: row-reverse;
  padding-left: 5vw;
  padding-right: 5vw;
  align-items: center; }

.banner > img {
  width: 75%;
  height: 75%; }

.headline {
  font-weight: 600;
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: column; }

.phone-mockup {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center; }

.headline h2 {
  font-weight: 600;
  font-size: 2rem;
  color: #1d4d4f;
  line-height: 50px;
  letter-spacing: 5px;
  align-items: center; }

.banner-image {
  background-color: #f6f6f8;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between; }

.index-button-signup {
  margin-left: 17.5%;
  padding-top: 15%; }

.about {
  height: 100vh;
  width: 100%;
  background-color: F7F8F9;
  display: flex;
  flex-direction: column;
  align-items: center; }

.about h3 {
  height: 100px;
  margin: 5vh; }

.block-about {
  display: flex;
  justify-content: center;
  align-items: center; }

.btn-primary {
  background: #43a3e6;
  border: 1px solid #43a3e6; }

.dashboard {
  margin-top: 50px;
  height: 730px;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  align-items: center; }

.form {
  padding: 50px;
  background-color: white;
  border-radius: 30px;
  box-shadow: 12px 12px 23px -12px rgba(0, 0, 0, 0.75); }

textarea {
  resize: none; }

.formContainer {
  height: 630px;
  display: flex;
  justify-content: center;
  align-items: center; }

.container-dashboard {
  display: flex;
  justify-content: space-around; }

.scroll-table {
  height: 40vh;
  width: 100%;
  overflow: auto; }

.left-navigator {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  width: 17%;
  height: 100vh; }

.white-frame {
  background-color: white;
  border-radius: 20px;
  height: 97vh;
  width: 90%;
  display: flex;
  justify-content: space-evenly;
  flex-direction: column; }

.user {
  height: 200px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column; }

.user img {
  border: solid 1px black;
  border-radius: 100px; }

.user-avatar {
  width: auto;
  height: 7em;
  align-content: center; }

.nav-buttons {
  display: flex;
  flex-direction: column;
  height: 430px;
  justify-content: flex-start; }

.nav-buttons button {
  margin: 10px;
  color: black; }

.nav-buttons button {
  margin: 10px;
  color: black;
  border: solid 1px white;
  display: flex;
  justify-content: flex-start;
  align-items: center; }

.nav-buttons button img {
  width: 15px;
  height: 15px;
  margin-right: 30px; }

.btn-outline-secondary:hover {
  background-color: #d2ddd1;
  border: solid 1px #d2ddd1;
  color: #1d4d4f; }

.current-ticket-dashboard {
  width: 83%;
  display: flex;
  align-items: flex-start; }

.ticket-container {
  flex-direction: column;
  display: flex;
  justify-content: center;
  align-items: center; }

.page-header {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 175px; }

.center-column {
  width: 63%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center; }

.dashboard-name {
  margin-top: -55px; }

.stats-grid {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly; }

.stats-row1 {
  display: flex;
  flex-direction: row;
  margin: 10px; }

.stats-row2 {
  display: flex;
  flex-direction: row;
  margin: 10px; }

.box {
  background-color: white;
  border-radius: 20px;
  box-shadow: 0px 13px 28px -13px rgba(0, 0, 0, 0.75);
  width: 15vw;
  height: 25vh;
  margin: 20px;
  text-align: center;
  vertical-align: middle;
  line-height: 70px; }

.box > img {
  width: 30px;
  height: 30px; }

.box > h4 {
  padding: 25px; }

.table {
  text-align: center; }

.table button {
  width: 120px;
  height: 30px;
  border-radius: 30px;
  border: #1d4d4f;
  background-color: #1d4d4f;
  box-shadow: 0px 13px 28px -13px rgba(0, 0, 0, 0.75);
  font-size: 10px; }

.ticket-overview {
  width: 20%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start; }

.logout-button {
  display: flex;
  justify-content: center;
  align-items: center; }

.logout-button button {
  width: 126px;
  height: 40px;
  border-radius: 30px;
  border: #1d4d4f;
  background-color: #1d4d4f;
  box-shadow: 0px 13px 28px -13px rgba(0, 0, 0, 0.75); }

.ticket-creation-button {
  height: 139px;
  display: flex;
  justify-content: center;
  align-items: center; }

.ticket-creation-button button {
  width: 100%;
  height: 40px;
  border-radius: 30px;
  border: #1d4d4f;
  background-color: #1d4d4f;
  box-shadow: 0px 13px 28px -13px rgba(0, 0, 0, 0.75); }

.btn-outline-secondary {
  border: solid 1.5px #1d4d4f; }

.btn-outline-secondary:not(:disabled):not(.disabled).active {
  color: #1d4d4f;
  background-color: #d2ddd1;
  border: #d2ddd1; }

.ticket-recents {
  margin-top: 10px;
  padding: 20px;
  display: flex;
  justify-content: center; }

.attach-item img {
  width: 25px; }

.stats-numbers {
  justify-items: center;
  font-size: 2%; }

.ticket-views {
  display: flex;
  justify-content: space-around;
  align-items: flex-start; }

.ticket-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }

.card-header {
  background-color: #1d4d4f;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center; }

.message {
  border: solid 1px #1d4d4f;
  display: flex;
  padding: 4%;
  margin: 2%; }

.message-content {
  margin-left: 10%; }

.message img {
  width: auto;
  height: 7em;
  border-radius: 120px; }

.message-body {
  display: flex;
  flex-direction: column; }

.message-send {
  display: flex;
  align-items: center;
  justify-content: center; }

.message-send button {
  margin-left: 10px; }

/*# sourceMappingURL=style.css.map */