<div class="container-dashboard">

  <!-- 1st column on the left that contains AVATAR , MENU and LOGOUT button  -->
  <section class="left-navigator">
    <div class="user">
      <img src="/images/default-avatar.png" alt="" class="user-avatar">

      <!-- should fetch the USER each and close it  -->

      <h4>Hello there {{userAuthenticated.firstName}} </h4>


    </div>

    <div class="nav-buttons">
      <button class="btn btn-primary">Dashboard</button>
      <button class="btn btn-primary">Current Tickets</button>
      <button class="btn btn-primary">Closed Tickets</button>
      <button class="btn btn-primary">Clients</button>
    </div>

    <div class="logout-button">
      <button onclick="location.href='/login'" class="btn btn-primary">Logout</button>
    </div>
  </section>

  <!-- 3rd column - right - Contains div with RECENTS , CREATED TICKETS , ADD A TICKET BUTTON-->


  <section class="main-dashboard">

    <div>
      <h1>Dashboard</h1>
    </div>

    <div class="stats">

    </div>

    <div class="calendar">

    </div>

  </section>


  <!-- 3rd column - right - Contains div with RECENTS , CREATED TICKETS , ADD A TICKET BUTTON-->

  <section class="ticket-overview">
    <div class="ticket-recents">
      <h4>Recent Tickets</h4>
    </div>
    <div class="created-ticket-area">
      {{#each tickets}}
      <div> {{this.ticket}} </div>
      {{/each}}
    </div>

    <div class="ticket-open">
      <button onclick="location.href='/ticketcreation'" class="btn btn-primary">Open Ticket</button>
    </div>
  </section>
</div>